body{
    width: 100%;
    height: auto;

}
html {
    scroll-behavior: smooth;
}
#top-bar{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
}
    #contact-bar{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #short-contact-bar{
            font-size: 20px;
        }

    #social-media-bar{
        width: 50%;
        height: 100%;
        display: flex;
    }
        #socials-bar{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
            .small-bar-socials{
                height: 25px;
                width: 100px;
                font-size: 18px;
                background: transparent;
                border: none;
                cursor: pointer;
                transition: all 0.9s ease;
            }
                .small-bar-socials:hover{
                    transform: rotate(360deg);
                }
#navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.726);
    position: sticky;
    top:0;
    left:0;
}
    .navbar-sides{
        width: 50%;
        height: 100%;
    }
        #navbar-left{
            display: flex;
            align-items: center;
            justify-content: center;
        }
            #logo-container{
                width: 50%;
                height: 100%;
                display: flex;
            }
                #logo1{
                    object-fit: contain;
                }
        #navbar-right{
            display: flex;
            align-items: center;
            justify-content: center;
        }
            #button-bar{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
                .navbar-buttons{
                    width: 120px;
                    height: 50px;
                    font-size: 25px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    transition: all 0.9s ease;
                    text-decoration: underline;
                    color: white;
                }
                    .navbar-buttons:hover{
                        transform: scale(1.5);
                    }
.main-containers{
    width: 100%;

    margin-bottom: 30px;
}
/* FIRST CONTAINER BELOW HERE */
    #first-container{
        height: 700px;
        display: flex;
        flex-direction: column;
        background-image: url("shattered-glass.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }
        .first-boxes{
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .hook-sentences{
                text-align: center;
                width: 80%;
                background: rgba(255, 255, 255, 0.562);
            }
                #hook-sentence-one{
                    font-size: 70px;
                }
                #hook-sentence-two{
                    font-size: 30px;
                }
/* SECOND CONTAINER BELOW HERE */
#second-container{
    height: 1500px;
    display: flex;
    flex-direction: column;
}
    #second-container-top{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        #top-half{
            width: 50%;
            height: 30%;
        }
            #service-header{
                font-size: 50px;
                text-align: center;
                font-weight: bold;
            }
        #bottom-half{
            width: 50%;
            height: 70%;
        }
            #service-bio{
                font-size: 25px;
                text-align: center;
            }
    #second-container-bottom{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
        .box-containers{
            width: 90%;
            height: 25%;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
            .second-container-boxes{
                width: 25%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.103);
            }
                .service-headers{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                    text-align: center;
                    font-size: 35px;
                    font-weight: bold;
                }
                .service-bios{
                    width: 90%;
                    height: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 25px;
                }
                    #first-boxes-two{
                        background-image: url(background-one.jpg);
                        background-size: cover;
                    }
                    #second-boxes-three{
                        background-image: url(background-two.jpg);
                        background-size: cover;
                    }
                    #third-boxes-two{
                        background-image: url(background-three.jpg);
                        background-size: cover;
                    }
                    #fourth-boxes-three{
                        background-image: url(background-four.jpg);
                        background-size: contain;
                    }
/* THIRD CONTAINER BELOW HERE */
#third-container{
    height: 700px;
}

/* BOTTOM CONTAINER BELOW HERE */
    #bottom-container{
        height: 400px;
        display: flex;
        flex-direction: row;
    }
        .bottom-boxes{
            height: 100%;
            width: 33.3%;
        }
            #bottom-left{
                display: flex;
                border: 1px solid black;
            }
                #google-map{
                    height: 100%;
                    width: 100%;
                }
            #bottom-middle{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
                #contact-us-bio{
                    font-size: 40px;
                    text-decoration: underline;
                    margin-bottom: 25px;
                }
                    .bottom-middle-info{
                        font-size: 25px;
                        text-align: center;
                    }
            #bottom-right{
                display: flex;
                align-items: center;
                justify-content: center;
            }
                #facebook-button-bottom{
                    width: 150px;
                    height: 40px;
                    background-color: #3b5998;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                }
                    #facebook-text-color{
                        color: white;
                    }


#buffer-box-one{
    width: 100%;
    height: 200px;
}
